<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="salotto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <salotto.Properties.Settings>
            <setting name="VIP" serializeAs="String">
                <value>../Store/Vip</value>
            </setting>
            <setting name="History" serializeAs="String">
                <value>../Store/History</value>
            </setting>
            <setting name="Goods" serializeAs="String">
                <value>../Store/Goods/Good.JSON</value>
            </setting>
        </salotto.Properties.Settings>
    </userSettings>
</configuration>